{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="./images/ATMU LOGO 4.webp" />

    <title>Matematika - Amaliyotlar</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />

    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <style>
      .modal {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          justify-content: center;
          align-items: center;
      }
  
      .modal img {
          max-width: 90%;
          max-height: 90%;
      }
  </style>




  </head>

  <body>
    <section class="preloader">
      <div class="spinner">
        <span class="sk-inner-circle"></span>
      </div>
    </section>

    <main>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="{% url 'main:index' %}">
                <strong><span>Matematika va uni o’qitish</span> metodikas</strong>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'main:index' %}">Bosh Sahifa</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:subject_url' %}">Maruza</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:practical' %}">Amaliy mashg'ulot</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:presentation' %}">Taqdimot</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:video' %}">Videodars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:independent' %}">Mustaqil ishlar</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav><nav class="navbar navbar-expand-lg">
        <div class="container">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="{% url 'main:index' %}">
            <strong><span>Matematika va uni o’qitish</span> metodikasi</strong>
        </a>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'main:index' %}">Bosh Sahifa</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:subject_url' %}">Maruza</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:practical' %}">Amaliy mashg'ulot</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:presentation' %}">Taqdimot</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:video' %}">Videodars</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:independent' %}">Mustaqil ishlar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="test.html">Test</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header
        class="site-header section__header-two section-padding d-flex justify-content-center align-items-center"
      >
        <div class="slick-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-12">
                <h1>
                  <span class="d-block text-primary">Matematikada</span>
                  <span class="d-block text-white">Amaliyotlar</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </header>

    <section class="products section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-5 mt-4">Boshlang'ich amaliy mashg'ulotlar</h2>
                </div>

                {% for i in practical %}
                    {% if i.account_type == 0 %}
                    <div class="col-lg-4 col-12 mb-3">
                      <div class="product-thumb">
                          {% comment %} <img
                                  src="{{ i.img.url }}"
                                  class="thumbnail img-fluid product-image"
                                  alt=""
                          /> {% endcomment %}

                          <img
                                    src="{{ i.img.url }}"
                                    class="img-fluid product-image"
                                    alt="{{ i.name }}"
                                    onclick="window.open('{{ i.img.url }}', '_blank');"
                                  
                            />

                          <div class="product-info d-flex">
                              <div>
                                  <h5 class="product-title mb-0">{{ i.name }}</h5>
                                  <p class="product-p">{{ i.text }}</p>
                              </div>
                          </div>
                      </div>
                  </div>
                    {% endif %}
                {% endfor %}

                <div class="col-12">
                    <h2 class="mb-5">Qo'shimcha amaliy mashg'ulotlar</h2>
                </div>

                
                
                {% for i in practical %}
                    {% if i.account_type == 1 %}
                    <div class="col-lg-4 col-12 mb-3">
                      <div class="product-thumb">
                          {% comment %} <img
                                  src="{{ i.img.url }}"
                                  class="thumbnail img-fluid product-image"
                                  alt=""
                          /> {% endcomment %}

                          <img
                            src="{{ i.img.url }}"
                            class="img-fluid product-image"
                            alt="{{ i.name }}"
                            onclick="window.open('{{ i.img.url }}', '_blank');"
                          
                          />

                          <div class="product-info d-flex">
                              <div>
                                  <h5 class="product-title mb-0">{{ i.name }}</h5>
                                  <p class="product-p">{{ i.text }}</p>
                              </div>
                          </div>
                      </div>
                  </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    </main>

    
{% include 'main/footer.html' %}


    {% comment %} {% for i in practical %}
    <div class="thumbnail-container">
        <div class="modal" style="display: none;" onclick="closeModal(this)">
            <img src="{{ i.img.url }}" alt="">
        </div>
    </div>
    {% endfor %} {% endcomment %}
    
    
    
    
    
    
    <script>
        const thumbnails = document.querySelectorAll('.thumbnail');
        const modals = document.querySelectorAll('.modal');
    
        thumbnails.forEach((thumbnail, index) => {
            thumbnail.addEventListener('click', function() {
                modals[index].style.display = 'flex';
            });
        });
    
        function closeModal(modal) {
            modal.style.display = 'none';
        }
    </script>


    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/Headroom.js' %}"></script>
    <script src="{% static 'js/jQuery.headroom.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
