{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content=""/>
    <link rel="icon" type="image/x-icon" href="./images/ATMU LOGO 4.webp"/>

    <title>
        Bo'lajak boshlang'ich sinf o'qituvchilarning kasbiy tayyorgarligini
        rivojlantirish
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>

    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap"
            rel="stylesheet"
    />

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" href="css/slick.css"/>

    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>



    
        <style>
            .modal {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                justify-content: center;
                align-items: center;
            }
        
            .modal img {
                max-width: 90%;
                max-height: 90%;
            }
        </style>

     


</head>
<body>
<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>
    {% include 'main/navbar.html' %}

    <div class="slick-custom">
        <img src="{% static 'images/bg1.webp' %}" class="img-fluid bg_img" alt=""/>

        <div class="slick-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-10">
                        <h1 class="slick-title">Boshlang'ich ta'limda matematika</h1>

                        <p class="lead text-white mt-lg-3 mb-lg-5">
                            Bo'lajak boshlang'ich sinf o'qituvchilarning kasbiy
                            tayyorgarligini rivojlantirish
                        </p>

                        <a
                                href="./images/Komolov H.pdf"
                                class="btn custom-btn"
                                download=""
                                onclick="window.open('{% static 'images/rasm.pdf' %}', '_blank');"
                        >Ustoz Haqida</a

                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="featured-product section-padding" id="maruza">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h2 class="mb-5">Maruzalar</h2>
                </div>
                {% for i in subject %}
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <img
                                    src="{{ i.img.url }}"
                                    class="img-fluid product-image"
                                    alt="{{ i.name }}"
                                    onclick="window.open('{{ i.pdf.url }}', '_blank');"
                                  
                            />
                        
                            <div>
                                
                            </div>
                      
                
                            <div class="product-info d-flex">
                                <div>
                                    <a href="{% url 'main:subject_url' %}">
                                        <h5 class="product-title mb-0">{{ i.name }}</h5>
                                    </a>
                                    <p class="product-p">{{ i.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="col-12 text-center mb-5">
                    <a href="{% url 'main:subject_url' %}" class="view-all">Barcha Maruzala</a>
                </div> 
            </div>
        </div>
    </section>
    <section class="featured-product section-padding section__bg" id="amaliy">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h2 class="mb-5">Amaliy Mashg'ulot</h2>
                </div>

                {% for i in practical %}
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <img
                            src="{{ i.img.url }}"
                            class="img-fluid product-image"
                            alt="{{ i.name }}"
                            onclick="window.open('{{ i.img.url }}', '_blank');"
                          
                    />

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">{{ i.name }}</h5>
                                    <p class="product-p">{{ i.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-12 text-center mb-5">
                    <a href="{% url 'main:practical' %}" class="view-all"
                    >Barcha Amaliy Mashg'ulot</a
                    >
                </div>
            </div>
        </div>
    </section>
    <section class="featured-product section-padding" id="taqdimot">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h2 class="mb-5">Taqdimotlar</h2>
                </div>
                {% for i in presentation %}
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <img
                                    src="{{ i.img.url }}"
                                    class="img-fluid product-image"
                                    alt=""
                            />

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">{{ i.name }}</h5>
                                    <p class="product-p">{{ i.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="col-12 text-center mb-5">
                    <a href="{% url 'main:presentation' %}" class="view-all">Barcha Taqdimotlar</a>
                </div>
            </div>
        </div>
    </section>
    <section
            class="featured-product section-padding section__bg"
            id="videodars"
    >
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h2 class="mb-5">Videodars</h2>
                </div>
                {% for i in video %}
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <iframe width="300" height="315"
                                    src="{{ i.name }}"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                            <div class="product-info d-flex">
                                <div>
                                    <p class="product-p">{{ i.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}


                <div class="col-12 text-center mb-5">
                    <a href="{% url 'main:video' %}" class="view-all">Barcha Videodars</a>
                </div>
            </div>
        </div>
    </section>
    <section class="featured-product section-padding" id="mustaqil">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <h2 class="mb-5">Mustaqil ish</h2>
                </div>


                {% for i in independent %}
                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <img
                                    src="{{ i.img.url }}"
                                    class="img-fluid product-image"
                                    alt=""
                            />

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">{{ i.name }}</h5>
                                    <p class="product-p">{{ i.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-12 text-center mb-5">
                    <a href="{% url 'main:independent' %}" class="view-all">Barcha Mustaqil ish</a>
                </div>
            </div>
        </div>
    </section>


</main>






{% include 'main/footer.html' %}



{% comment %} {% for i in practical %}
<div class="thumbnail-container">
    <div class="modal" style="display: none;" onclick="closeModal(this)">
        <img src="{{ i.img.url }}" alt="">
    </div>
</div>
{% endfor %} {% endcomment %}






<script>
    const thumbnails = document.querySelectorAll('.thumbnail');
    const modals = document.querySelectorAll('.modal');

    thumbnails.forEach((thumbnail, index) => {
        thumbnail.addEventListener('click', function() {
            modals[index].style.display = 'flex';
        });
    });

    function closeModal(modal) {
        modal.style.display = 'none';
    }
</script>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/Headroom.js' %}"></script>
<script src="{% static 'js/jQuery.headroom.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static  'js/custom.js' %}"></script>

</body>
</html>
